# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
build/
dist/
*.egg-info/

# Database
*.db
*.sqlite
*.sqlite3

# UV
uv.lock
.python-version
main.py

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
